.clock-theme-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.body-dark {
  background-color: rgb(15, 15, 15);
  color: white;
}

.hide-show-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

