.ui-container {
  display: grid;
  margin: 20px auto;
  box-shadow: 0 0 5px 0 rgb(65, 65, 65);
  border-radius: 6px;
  padding: 10px;
  width: 500px;
}

.ui-container-light {
  background-color: #fff;
}

.ui-container-dark {
  background-color: rgb(39, 41, 44);
}