.ui-input input {
  padding: 3px;
  border-radius: 6px;
  width: 100%;
  border: 1px solid grey;
}

.ui-input h2 {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 0.8rem;

}

.ui-input-dark input {
  background-color: rgb(24, 26, 31);
  color: white;
}